/**
*iAother
*oospace@foxmail.com
*http://xicer.com
*2015/07/30
**/
@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
.runner{
	width:60%;
	overflow:hidden;
	height:auto;
	margin:50px auto;
	position:relative;
}
.oospace{
	display:flex;
	position:relative;
}
.oospace >li{
	list-style: none;
	border:1px solid #ececec;
	-webkit-flex:1;
}
.oospace >li >a{
	width:100%;
	height:auto;
}
.oospace >li>a> img{
	width:100%;
	height:auto;
}
